<div class="nous">
<h1>Qui sommes   nous</h1>

<div class="container">
<h6>
  Khidma Group est dans la réalisation de tous vos projets immobilliers.
  <br>
  <br>
  Elle propose de services dans la fabrication, la conception et la commercialisation.
  <br>
  <br>
  Elle a à sa disposition tous types de Betonet de toutes categories.
  <br>
  <br>
  Le savoir faire de nos personnels et la qualité de nos services font la satisfaction de notre clientel.

</h6>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
