<div>
<h1> Nos services</h1>

</div>
<form action="/ma-page-de-traitement" class="form">
  <div>
    <label for="name">Nom :</label>
    <input type="text" id="name" value="KHIDMA GROUP">
  </div>
  <div>
    <label for="mail">e-mail :</label>
    <input type="email" id="mail" name="user_mail">
  </div>
  <div>
    <label for="msg">Telephone :</label>
    <input id="msg" value="76-514-25-56">
  </div>
</form>
<br>
<br>
<br>
<a class="" target="" rel="" href="https://www.facebook.com/Khidma-Groupe-102661548608977/">Facebook</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
