<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div style="margin-left: 5%">
    <a routerLink="/accueil">
      <p>Accueil</p>
    </a>
  </div>
  <div class="spacer"></div>
  <a routerLink="/nous">
    <p>Qui sommes nous</p>
  </a>
  <div class="spacer"></div>
  <a routerLink="/produits">
    <p>Nos produits</p>
  </a>
  <div class="spacer"></div>
  <div style="margin-right: 5%">
  <a routerLink="/contact">
    <p>Contact</p>
  </a>
</div>
</div>
<div class="app">
<h1>khidma</h1>
<router-outlet></router-outlet>
</div>
